/* @media (max-width: 600px) {
    
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-15 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-17 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-19 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-21 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-23 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-25 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-27 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-29 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-9 .makeStyles-outline-12 .makeStyles-Button-31 {
        width: 80px;
        height: 80px;
    }
} */