/* @media (max-width: 600px) {
  .makeStyles-outline-1 .MuiTypography-h2 {
    font-size: 30px;
    padding-left: 20px;
  }
  .MuiGrid-grid-xs-12 .makeStyles-bar-2 .MuiToolbar-gutters {
    padding-left: 0px;
  }
  .makeStyles-font-4 {
    padding-right: 0px;
  }
}
.makeStyles-bar-3 {
  padding-right: 60px;
} */