@media (max-width: 600px) {
    .makeStyles-outline-1 .makeStyles-root-7 .MuiTypography-h1 {
        font-size: 60px;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
}

.makeStyles-outline-1 .makeStyles-root-7 .MuiTypography-h1 {
    margin-top: 40px;
}