@media (max-width: 600px) {
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-9 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-11 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-13 {
        width: 80px;
        height: 80px;
    }

    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-15 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-17 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-19 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-21 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-23 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-25 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-34 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-36 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-38 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-40 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-42 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-44 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-46 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-48 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-7 .makeStyles-Button-50 {
        width: 80px;
        height: 80px;
    }
    
    .MuiContainer-root .MuiContainer-maxWidthXs .makeStyles-outline-1 .makeStyles-root-7 .MuiTypography-h1 {
        padding-left: 0px;
        /* align-items: center; */
    }
    .MuiContainer-root .makeStyles-root-7 .MuiGrid-container {
        padding-left: 0px;
    }
}