@media (max-width: 600px) {
    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-7 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-9 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-11 {
        width: 80px;
        height: 80px;
    }

    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-13 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-15 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-17 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-19 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-21 {
        width: 80px;
        height: 80px;
    }
    .MuiGrid-root .makeStyles-root-5 .makeStyles-Button-23 {
        width: 80px;
        height: 80px;
    }
    .MuiContainer-root .MuiContainer-maxWidthXs {
        padding-left: 0px;
    }
    p .MuiTypography-root .MuiTypography-subtitle1 {
        padding-left: 16px;
    }
}