@media (max-width: 600px) {
    .MuiGrid-item .MuiGrid-grid-xs-12 .makeStyles-avatar-9 {
        width: 300px;
        height: 300px;
    }
    .MuiGrid-item .MuiGrid-grid-xs-6 .MuiCardContent-root {
        align-items: center;
        padding-top: 16px;
        padding-left: 0px;
    }
}